
:root {
  --foreground-color-light: #fff;
  --text-color-light: #333;
  --background-color-dark: #333;
  --text-color-dark: #fff;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: var(--foreground-color-light);
  color: var(--text-color-light);
}

.App.dark-mode, .App.dark-mode * {
  /* This will apply dark mode to everything within App */
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
